In [1]:
import numpy as numpy
import pandas as pd
from sqlalchemy import create_engine

In [8]:
import mysql.connector

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()
host = os.getenv('HOST')
user = os.getenv('HOST')
password = os.getenv('HOST')

'host_avodasvn'

In [54]:
def connect_to_database(host, user, password, database=None):
    try:
        # Connect to MySQL server and specify the database
        connection = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )

        #create cursor for the connection
        cursor = connection.cursor()
        
        if connection.is_connected():
            print(f"Connected to MySQL database '{database}'")
            return connection, cursor
    
    except Error as e:
        print(f"Error while connecting to MySQL: {e}")
        return None

In [ ]:
connection, cursor = connect_to_database(host, user, password, database="RecipesDataset")

Connected to MySQL database 'RecipesDataset'

In [22]:

cursor.execute(f"CREATE DATABASE RecipesDataset")

In [26]:
df_tags = pd.read_csv("../csv_files/tags.csv")
df_nutr = pd.read_csv("../csv_files/nutrition.csv")
df_steps = pd.read_csv("../csv_files/steps.csv")

In [21]:
df_nutr = pd.read_csv("../csv_files/nutrition.csv")

In [19]:
engine.dispose()

In [16]:
connection.begin().rollback()

ResourceClosedError: This Connection is closed

In [ ]:
connection.execute()

In [58]:
cursor.execute('DROP Table RecipeTags')

In [27]:
connection_string = "mysql+mysqlconnector://root:Datab1ses@localhost/recipesdataset"
engine = create_engine(connection_string)

try:
    # Start a connection and transaction
    with engine.connect() as connection:
        with connection.begin():
            # Create the SQL table from the DataFrame
            table_name = 'example_table'
            df_steps.to_sql(table_name, con=connection, if_exists='replace', index=False)
            print(f"Table '{table_name}' created successfully in the database.")
            connection.commit()
except mysql.connector.Error as e:
    print(f"Error: {e}")

# Dispose the engine
engine.dispose()

OperationalError: (mysql.connector.errors.OperationalError) 2013 (HY000): Lost connection to MySQL server during query
[SQL: INSERT INTO example_table (id, n_steps, steps) VALUES (%(id)s, %(n_steps)s, %(steps)s)]
[parameters: [{'id': 137739, 'n_steps': 11, 'steps': "['make a choice and proceed with recipe', 'depending on size of squash , cut into half or fourths', 'remove seeds', 'for spicy squash , drizzle olive ... (433 characters truncated) ... 'if you feel more comfortable , cover the squash with aluminum foil the first half hour , give or take , of baking', 'if desired , season with salt']"}, {'id': 31490, 'n_steps': 9, 'steps': "['preheat oven to 425 degrees f', 'press dough into the bottom and sides of a 12 inch pizza pan', 'bake for 5 minutes until set but not browned', 'cu ... (116 characters truncated) ... nkle with cheese', 'pour egg mixture slowly over sausage and cheese', 's& p to taste', 'bake 15-20 minutes or until eggs are set and crust is brown']"}, {'id': 112140, 'n_steps': 6, 'steps': "['brown ground beef in large pot', 'add chopped onions to ground beef when almost brown and sautee until wilted', 'add all other ingredients', 'add k ... (14 characters truncated) ...  you like beans in your chili', 'cook in slow cooker on high for 2-3 hours or 6-8 hours on low', 'serve with cold clean lettuce and shredded cheese']"}, {'id': 59389, 'n_steps': 11, 'steps': '[\'place potatoes in a large pot of lightly salted water and bring to a gentle boil\', \'cook until potatoes are just tender\', \'drain\', \'place po ... (301 characters truncated) ...  \'spread"alouette" evenly over potatoes and bake 15 minutes\', \'divide between plates\', \'garnish with finely diced red and yellow bell peppers\']'}, {'id': 44061, 'n_steps': 5, 'steps': '[\'mix all ingredients& boil for 2 1 / 2 hours , or until thick\', \'pour into jars\', "i use\'old\' glass ketchup bottles", "it is not necessary for ... (18 characters truncated) ... "\'my amish mother-in-law has been making this her entire life , and has never used a\'sealed\' jar for this recipe , and it\'s always been great !"]'}, {'id': 5289, 'n_steps': 4, 'steps': "['combine ingredients in blender', 'cover and blend until smooth', 'sprinkle with ground cinnamon', 'makes about 2 cups']"}, {'id': 25274, 'n_steps': 4, 'steps': "['toast the fennel seeds and lightly crush them', 'place all the ingredients in a bowl , stir well', 'cover and leave to marinate', 'keep refrigerated and use within 1 to 2 days']"}, {'id': 67888, 'n_steps': 10, 'steps': "['in a medium saucepan combine all the ingredients for sauce#1 , bring to a full rolling boil , reduce heat to medium low and simmer for 1 hour , sti ... (408 characters truncated) ... or plastic bowl , whisk well and set aside', 'remove ribs from oven and place on serving platter', 'offer both sauces at table to drizzle over ribs']"}  ... displaying 10 of 231637 total bound parameter sets ...  {'id': 298512, 'n_steps': 9, 'steps': "['place melted butter in a large mixing bowl and add each remaining ingredient as listed , beating well after each addition to achieve a smooth dough ... (514 characters truncated) ... inted with few drops food coloring once it has been heated', 'let cookies cool on baking sheet 10 minutes before carefully removing to paper towels']"}, {'id': 298509, 'n_steps': 5, 'steps': "['whip sugar and shortening in a large bowl , add eggs and beat well', 'add remaining ingredients and mix', 'knead dough into ball , roll out and cut', 'place on cookie sheet', 'bake at 350 degrees f for 10 to 12 minutes']"}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [13]:
sql_connection = sql.connect('../recipes_dataset.db')

In [11]:
sql_connection

In [6]:
df = pd.read_csv('../csv_files/RAW_recipes.csv')

In [7]:
df

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8
...,...,...,...,...,...,...,...,...,...,...,...,...
231632,zydeco soup,486161,60,227978,2012-08-29,"['ham', '60-minutes-or-less', 'time-to-make', ...","[415.2, 26.0, 34.0, 26.0, 44.0, 21.0, 15.0]",7,"['heat oil in a 4-quart dutch oven', 'add cele...",this is a delicious soup that i originally fou...,"['celery', 'onion', 'green sweet pepper', 'gar...",22
231633,zydeco spice mix,493372,5,1500678,2013-01-09,"['15-minutes-or-less', 'time-to-make', 'course...","[14.8, 0.0, 2.0, 58.0, 1.0, 0.0, 1.0]",1,['mix all ingredients together thoroughly'],this spice mix will make your taste buds dance!,"['paprika', 'salt', 'garlic powder', 'onion po...",13
231634,zydeco ya ya deviled eggs,308080,40,37779,2008-06-07,"['60-minutes-or-less', 'time-to-make', 'course...","[59.2, 6.0, 2.0, 3.0, 6.0, 5.0, 0.0]",7,"['in a bowl , combine the mashed yolks and may...","deviled eggs, cajun-style","['hard-cooked eggs', 'mayonnaise', 'dijon must...",8
231635,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[188.0, 11.0, 57.0, 11.0, 7.0, 21.0, 9.0]",9,['place melted butter in a large mixing bowl a...,"i've heard of the 'cookies by design' company,...","['butter', 'eagle brand condensed milk', 'ligh...",10
231636,cookies by design sugar shortbread cookies,298509,20,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[174.9, 14.0, 33.0, 4.0, 4.0, 11.0, 6.0]",5,"['whip sugar and shortening in a large bowl , ...","i've heard of the 'cookies by design' company,...","['granulated sugar', 'shortening', 'eggs', 'fl...",7

# Make 4 tables: 
- tags
- nutrition
- steps
- ingredients

In [8]:
#tags
df_tags = df[['id','tags']]

In [14]:
#nutrition
df_nutr = df[['id', 'nutrition']]

In [15]:
df_nutr

            id                                    nutrition
0       137739        [51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]
1        31490    [173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]
2       112140   [269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]
3        59389    [368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]
4        44061    [352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]
...        ...                                          ...
231632  486161  [415.2, 26.0, 34.0, 26.0, 44.0, 21.0, 15.0]
231633  493372        [14.8, 0.0, 2.0, 58.0, 1.0, 0.0, 1.0]
231634  308080         [59.2, 6.0, 2.0, 3.0, 6.0, 5.0, 0.0]
231635  298512    [188.0, 11.0, 57.0, 11.0, 7.0, 21.0, 9.0]
231636  298509     [174.9, 14.0, 33.0, 4.0, 4.0, 11.0, 6.0]

[231637 rows x 2 columns]

In [10]:
def check_len_nutr(list_nutr):
    if len(list_nutr) == 7:
        return True
    else:
        return False
    
df_nutr_chk = df_nutr['nutrition'].apply(check_len_nutr)

In [11]:
False in df_nutr_chk

False

In [8]:
def get_nutr_element(list_nutr, index):
    list_nutr = list_nutr.strip('[]').split(',')
    return list_nutr[index]

In [9]:
names = ['Calories', 'Total Fat (PDV)', 'Sugar (PDV)' , 'Sodium (PDV)' , 'Protein (PDV)' , 'Saturated Fat (PDV)' , 'Carbohydrates (PDV)']

for i in range(7):
    df_nutr[names[i]] = df_nutr['nutrition'].apply(get_nutr_element, index=i)

df_nutr = df_nutr.drop(labels='nutrition', axis=1)

C:\Users\akhpv\AppData\Local\Temp\ipykernel_20664\4117094944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nutr[names[i]] = df_nutr['nutrition'].apply(get_nutr_element, index=i)
C:\Users\akhpv\AppData\Local\Temp\ipykernel_20664\4117094944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nutr[names[i]] = df_nutr['nutrition'].apply(get_nutr_element, index=i)
C:\Users\akhpv\AppData\Local\Temp\ipykernel_20664\4117094944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nutr[names[i]] = df_nutr['nutrition'].apply(get_nutr_element, index=i)
C:\Users\akhpv\AppData\Local\Temp\ipykernel_20664\4117094944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nutr[names[i]] = df_nutr['nutrition'].apply(get_nutr_element, index=i)
C:\Users\akhpv\AppData\Local\Temp\ipykernel_20664\4117094944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nutr[names[i]] = df_nutr['nutrition'].apply(get_nutr_element, index=i)
C:\Users\akhpv\AppData\Local\Temp\ipykernel_20664\4117094944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nutr[names[i]] = df_nutr['nutrition'].apply(get_nutr_element, index=i)
C:\Users\akhpv\AppData\Local\Temp\ipykernel_20664\4117094944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nutr[names[i]] = df_nutr['nutrition'].apply(get_nutr_element, index=i)

In [10]:
df_nutr

,id,Calories,Total Fat (PDV),Sugar (PDV),Sodium (PDV),Protein (PDV),Saturated Fat (PDV),Carbohydrates (PDV)
0,137739,51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,31490,173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,112140,269.8,22.0,32.0,48.0,39.0,27.0,5.0
3,59389,368.1,17.0,10.0,2.0,14.0,8.0,20.0
4,44061,352.9,1.0,337.0,23.0,3.0,0.0,28.0
...,...,...,...,...,...,...,...,...
231632,486161,415.2,26.0,34.0,26.0,44.0,21.0,15.0
231633,493372,14.8,0.0,2.0,58.0,1.0,0.0,1.0
231634,308080,59.2,6.0,2.0,3.0,6.0,5.0,0.0
231635,298512,188.0,11.0,57.0,11.0,7.0,21.0,9.0
231636,298509,174.9,14.0,33.0,4.0,4.0,11.0,6.0

In [11]:
#steps
df_steps = df[['id', 'n_steps', 'steps']]

In [12]:
#ingredients
df_ingredients = df[['id', 'n_ingredients', 'ingredients']]
df_ingredients

,id,n_ingredients,ingredients
0,137739,7,"['winter squash', 'mexican seasoning', 'mixed ..."
1,31490,6,"['prepared pizza crust', 'sausage patty', 'egg..."
2,112140,13,"['ground beef', 'yellow onions', 'diced tomato..."
3,59389,11,"['spreadable cheese with garlic and herbs', 'n..."
4,44061,8,"['tomato juice', 'apple cider vinegar', 'sugar..."
...,...,...,...
231632,486161,22,"['celery', 'onion', 'green sweet pepper', 'gar..."
231633,493372,13,"['paprika', 'salt', 'garlic powder', 'onion po..."
231634,308080,8,"['hard-cooked eggs', 'mayonnaise', 'dijon must..."
231635,298512,10,"['butter', 'eagle brand condensed milk', 'ligh..."
231636,298509,7,"['granulated sugar', 'shortening', 'eggs', 'fl..."

In [13]:
max_ing = df_ingredients['n_ingredients'].max()
df_ingredients[df_ingredients['n_ingredients'] == max_ing]

        id  n_ingredients                                        ingredients
2162  3748             43  ['sugar', 'vegetable oil', 'eggs', 'vanilla ex...

Convert the dataframes to CSV files to be imported into MySQL

In [18]:
df_tags.to_csv('tags.csv')
df_ingredients.to_csv('ingredients.csv')
df_nutr.to_csv('nutrition.csv')
df_steps.to_csv('steps.csv')